@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;

	font-size: 0.9rem;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 600;
}

html {
	background: linear-gradient(rgb(255, 119, 142), rgb(255, 152, 169));
	background-attachment: fixed;

	--locked-color: rgb(123, 123, 123);
	--correct-spot-color: rgb(61, 142, 61);
	--wrong-spot-color: rgb(175, 175, 4);
}

#content {
	background: white;
	margin: auto;
	margin-top: 1rem;
	padding: 1rem;
	width: 70rem;
	padding: 2rem;
	border-radius: 1rem;
}

h1 {
	text-align: center;
	font-size: 4rem;
}

.lines {
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: auto;
	width: fit-content;
	gap: 0.5rem;
}

.letter {
	aspect-ratio: 1/1;
	width: 5rem;
	border: 0.2rem solid rgb(201, 201, 201);
	padding: 0.3rem;
	font-size: 3rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.entered {
	border-color: black;
}

.guessed {
	border: none;
	color: white;
}

#keyboard {
	width: 60%;
	margin: auto;
	margin-top: 5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	--gap: 0.5rem;
	--items: 10;
	--width: calc((100% - var(--gap) * var(--items)) / var(--items));

	--margin: calc((var(--width) + var(--gap)) / 2);

	gap: var(--gap);
}

#keyboard button:nth-child(11) {
	margin-left: var(--margin);
}

#keyboard button:nth-child(19) {
	margin-right: var(--margin);
}

#keyboard button {
	background: rgb(213, 213, 213);
	aspect-ratio: 3/4;
	width: var(--width);
	font-size: 2rem;
	border: none;
	border-radius: 0.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#keyboard #enter {
	font-size: 1.1rem;
	font-weight: 600;
}

#keyboard #delete i {
	font-size: 1.8rem;
}

#keyboard #enter,
#keyboard #delete {
	aspect-ratio: 6/5;
	width: calc(var(--width) * 1.5 + var(--gap) / 2);
}

button:hover {
	filter: brightness(90%);
}
